@import './colors.scss';
@import './typography.scss';
@import './modals.scss';

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

#preload{
  display: none;
}
//TUTORIAL
.tutorial, .tutorial_mobile {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 98;
    color: $color0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    transition: background 0.5s linear;
}

.t-text1 {
	position: absolute;
	display: none;
    left: 20%;
    top: 30%;
    z-index: 99;
	font-size: 22px;
}

.t-text2 {
	position: absolute;
	display: none;
    left: 20%;
    top: 8%;
    z-index: 99;
	font-size: 18x;
}

.t-text3 {
	position: absolute;
	display: none;
    left: 20%;
    top: 40%;
    z-index: 99;
	font-size: 18px;
}

.t-text4 {
	position: absolute;
	display: none;
    left: 43%;
    top: 58%;
    z-index: 99;
	font-size: 18px;
}

.t-text5 {
	position: absolute;
	display: none;
    left: 20%;
    top: 38%;
    z-index: 99;
	font-size: 18px;
}

.t-text6 {
	position: absolute;
	display: none;
    left: 20%;
    top: 38%;
    z-index: 99;
	font-size: 18px;
}

.t-clickToProceed{
	position: absolute;
	display: block;
    left: 78%;
    top: 75%;
    z-index: 99;	
}

.t-skipToMap{
	position: absolute;
    left: 85%;
    top: 80%;
    z-index: 99;	
}

.t-skipToMap_mobile{
  position: absolute;
  left: 65%;
  top: 85%;
  z-index: 99;
}

.t-startExplore{
	position: absolute;
	display: none;
    left: 70%;
    top: 42%;
    z-index: 99;
    font-size: 18px;
}

body{
	font-family: Sanomat;
	text-rendering:optimizeLegibility;
	user-select: none;
}

.amcharts-MapLine{
	//stroke: red;
	//animation: hideshow 5s ease infinite;
}

@keyframes hideshow {
	//åfrom { stroke-width: 2%; }
	//to { stroke-width: 8%; }
}

.link_grab{
	padding-top: 25px;
	a {
		color: #989898;
	}
}

.logo{
	position: absolute;
	z-index: 1;
	width: 100%;
	img{
		float: right;
		width: 120px;
		height: 45px;
		margin-right: 20px;
		margin-top: 20px;
	}

}

.o-class{
	display: none;
}

[aria-labelledby]{ display: none;}
#pickups, #info-chart, #pickups-1, #info-chart-1, .nav, .navbar{
	z-index: 6;
}

#origin, #destination, .navbar{
	display: none;
}

#nocountry{
	text-align: center;
	height: fit-content;
	vertical-align: center;
	margin-top: 78%;
}

#chartdiv-1, #chartdiv-2 {
	width: 100%;
	height: 100vh;
}

#sliderO{
	display: none;
}


#piechart-1,#piechart-2 {
	width: 190px;
	height: 190px;
	position: absolute;
	z-index: 4;
	top: 0;
	visibility: hidden;
}

#chartdivMini-1, #chartdivMini-2 {
	position: absolute;
	left: 10%;
	top: 70%;
	width: 10%;
	height: 10%;
	overflow: hidden;
	font-size: 13px;
	border: 1px solid white;
}

#chartdivMini-1{
	background-color: $color11 ;
}

#pickups, #pickups-1{
	position: absolute;
	float: left;
	border-radius: 6px;
	color: $color0;
	padding: 5px 0;
	font-size: 13px;
	max-height: 195px;
	width: 290px;
	.headerPickUp{
		max-width: 280px;
		padding: 5px 30px;
	}
	.itemPickup{
		padding: 5px 20px;
		border-bottom: 1px solid $color0;
		font-size: 12px;
		font-weight: bold;
		img{
			width: 24px;
			display: inline-block;
			vertical-align: top;
		}

		span{
			width: 80%;
			display: inline-block;
			vertical-align: bottom;
		}
	}
	.itemPickup:last-child{
		border: 0;
	}
}

.o-class{
	text-align: left !important;
	margin-left: 5px;
}

.d-class{
	text-align: right !important;
}

.text_about{
	font-size: 15px;
	font-weight: 200;
	line-height: 18px;
	filter: alpha(opacity=80); /* For IE8 and earlier */
	margin-top: -27px;
	padding-bottom: 20px;
	width: 340px;
}

.nav-tabs .nav-link.active{
	border: 0;
}

#info-chart, #info-chart-1{
	position: absolute;
	top: 22%;
	align-items: center;
	left: 40%;
	max-height: 85px;
	z-index: 6;
	border-radius: 10px;
	font-size: 12px;
	display: flex;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	justify-content: space-between;
	.percentage{
		font-weight: bold;
		padding: 10px 0 10px 10px;
		div{
			display: inline;
		}
		.number{
			font-size: 50px;
			font-weight: bold;
		}
		.signal{
			font-size: 27px;
		}
		.divider{
			font-size: 40px;
			font-weight: lighter;
		}

	}

	.text{
		padding: 10px;
	}
}

.info {
	height: auto;
	width: auto;
	min-width: 100px;
	min-height: 30px;
	background: #FFF;
	border: 1px solid #333;
	z-index: 20;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.navbar{
	display: block;
	background: $color1;
	color: $color0;
	bottom: 0;
	width: 100%;
	position: fixed;
	text-align: center;
	transition: 1s;
	.nav{
		justify-content: space-between;
		width: 100%;
		flex: 1;
		.icon img{width: 36px;}
		.title{
			font-size: 12px;
		}
	}
	#NavO, #NavD{
		display: none;
	}
}

.carousel-indicators{
	position: relative;
	margin: 15px auto 10px auto;
	li{
		width: 6px;
		height: 6px;
		background: none;
		border-radius: 100%;
		&.active{
		}
	}
}

.carousel-item.item{
	a, img {
		cursor: pointer;
	}
}

.carousel-inner .item{
	padding: 5px 5px 10px 5px;
	.quote{
		font-size: 15px;
		font-weight: 200;
		line-height: 22px;
		text-align: justify;
		padding: 14px 0;
		letter-spacing: .4px;
		&:before{
			content: '"';
		}
		&:after{
			content: '"';
		}
	}
	.author{
		text-align: right;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: .3px;
	}
	a{
		display: inline-block;
	}

	img{
		width: 308px;
		height: 163px;
		border-radius: 10px !important;
	}
	.text-caption{
		font-size: 13px;
		font-weight: bold;
		margin-top: 10px;
		margin-left: 2px;
		color: $color0;
		text-align: left;
		letter-spacing: .4px;
	}

	.title{
		font-size: 14px;
		font-weight: bold;
	}

	.subtitle{
		font-size: 15px;
		font-weight: 200;
		line-height: 20px;
	}
}

// Box in sidebar Grab Travellers
.details{
	border-radius: 9px;
	font-size: 15px;
	padding: 0px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;

	.percentage{
		align-items: center;
		margin-left: 10px;
		.number{
			font-size: 60px;
			font-weight: bold;
			display: inline;
		}
		.signal{
			font-size: 25px;
			display: inline;
			position: relative;
			top: -6px;
			left:4px;
		}
	}
	.text{
		align-item: bottom;
		text-align: left;
		font-size: 14px;
		font-weight: bold;
		width: 75%;
		line-height: 20px;
		text-align: left;
		margin-left: 12px;
		letter-spacing: .4px;
	}
}

// Is the big box contain each Topic on the sidebar (Grab Traveller, Grab Highlight, Grab Fact)
.box{
	margin: 10px 10px 3px 10px;
	border-radius: 7px;
	padding: 14px;
	height: 350px;

	.box-header{
		padding: 5px 0;
		display: flex;
		.icon img{
			width: 36px;
			display: none;
		}
		.title{
			font-weight: bold;
			margin: auto 10px auto;
			letter-spacing: .5px;
		}
	}
	.box-content{
		margin: 18px auto auto auto;
	}
	.box-slide{

	}
}

// Box Grab Travellers Destination
#GTA, #GTB{
	height: 360px;
	.carousel-inner{
		height: 160px;
	}
}

#GTA2 , #GTB2 {
	height: 260px;
	.text {
		font-weight: 200;
		line-height: 22px;
		text-align: justify;
		letter-spacing: .3px;
	}

	.box-content {
		margin-left: 5px;
		margin-right: 5px;
	}
}

// Box Grab Fact
#GFA, #GFB{
  height: 265px;
	letter-spacing: .4px;
	.carousel-inner{
		height: 160px;
	}
	.carousel-inner .item{
		padding-top: 18px;
	}
}

#SHA, #SHB{
	height: 325px;
	.carousel-inner {
		height: 215px;
	}
}

#myCarouselB1 {
	height: 180px;
}



/* Structure Sidebar class content */
	.content{
		.map{
			transition: 1s;
			padding: 0;
			height: 100vh;
			overflow: hidden;
			.details{
				background: #17181a;
				color: #fff;
				width: 100%;
				font-size: 14px;
				font-weight: bold;
				box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
				padding: 16px 25px;
				div{
					display: inline;
				}

				.percentage{
					vertical-align: text-bottom;
					.number{
						font-size: 59px;
					}
					.signal{
						font-size: 28px;
					}
					.text{
						vertical-align: text-top;
						text-align: left;
					}
				}
			}

		}
		aside{
			transition: 1s;
			padding: 0 10px;
			position: relative;
			//height: 100vh;
			border-right: 1px solid #000;
			box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);

			.tab-header{
				transition: 1s;
				z-index: 16;
				position: absolute;
				width: calc(100% - 16px);
				height: 72px;
			}

			.nav-tabs{border: 0;}

			#myTab{
				justify-content: space-around;
				border-radius: 9px;
				margin: 20px auto 0px;
				width: calc(100% - 9px);
				left: 0;
				position: absolute;
				display: flex;
				text-align: center;
				font-size: 12px;
				font-weight: bold;
				vertical-align: middle;

				li{
					height: 45px;
					border-radius: 8px;
					list-style: none;
					a{
						color: $color0;
						border-radius: 8px;
						text-decoration: none;
						padding: 15px 10px 12px 10px;
						top: 13px;
						transition: 1s;
						text-transform: uppercase;
					}
				}
				.titles{
					position: absolute;
					z-index: 1;
					top: 10px;
					left: 0px;
					span{
						margin: 0 10px;
					}
				}
			}

			.tab-content{
				height: 94vh;
				overflow: auto;
				padding: 100px 10px 0;
				padding-bottom: 25px;
				margin: 0 -10px;

				&::-webkit-scrollbar-track
				{
					background-color: $color10;
				}

				&::-webkit-scrollbar
				{
					width: 6px;
					margin: 10px 0;
					margin-left: 10px;
					background-color: $color10;
				}

				&::-webkit-scrollbar-thumb
				{
					background-color: $color11;
				}

				.tab-pane {
					margin: auto -10px;
				}
			}
		}
	}
// End Structure Specifications

// Origin Specifications
	.origin{
		background-color: black;
		.link_grab{
			a{
				color: #fff;
			}
		}

		#chartdivMini-2, #chartdiv-2, #piechart-2{
			display: none;
		}

		#chartdiv-1,#piechart-1{
			display: block;
		}

		#pickups, #pickups-1{
			background: $color4;
		}

		#info-chart, #info-chart-1{
			background: $color1;
			color: $color0;
		}

		.carousel-indicators{
			li{
				border: 1px solid $color0;
				&.active{
					background: $color0;
				}
			}
		}

		.box{
			background: $color1;
			color: $color3;
			box-shadow: -1px -1px 1px 5px rgba(0, 0, 0, .1);
			.box-header{
				.o{
					display: block !important;
				}
			}

			.details{
				background: $color14;
				color: $color0;
				.percentage{
					.number{
						color: #FFFFFF;
					}
					.signal{
					}
				}
				.text{
				}
			}
		}

		#NavO{
			display: flex;
		}

		aside{
			background: $color10;
			color: $color0;
			.tab-header{ background: $color10; }
			#myTab{
				background: $color1;
				li{
					&.active a{
					}
					a{
						color: $color0;
					}

					.tab-o{
						background: $color4;
					}

					.tab-d{
						color: $color2;
					}
				}

				.nav-link.tab-d:hover{
					background: $color5;
					border-color: $color5;
					color: $color0;
				}
			}
			.tab-content{
				&::-webkit-scrollbar-track
				{
					background-color: $color10;
				}

				&::-webkit-scrollbar
				{
					background-color: $color10;
				}

				&::-webkit-scrollbar-thumb
				{
					background-color: $color11;
				}
			}
		}
		.map{
			background: $color11;
		}
	}
// End Origin Specifications


// Destination Specifications
	.destination{
		background-color: white;

		.text_about{
			color: #989898;
		}

		#chartdivMini-2{
			display: block;
			background-color: #FFFFFF;
			border: 1px solid black;
		}

		#chartdivMini-1, #chartdiv-1, #piechart-1, #sliderO{
			display: none;
		}

		#chartdiv-2, #piechart-2{
			display: block;
		}


		#pickups, #pickups-1{
			background: $color6;
		}

		#info-chart, #info-chart-1{
			background: $color0;
			color: $color1;
		}

		.carousel-indicators{

			li{
				border: 1px solid $color1;
				&.active{
					background: $color1;
				}
			}
		}

		.box{
			background: $color0;
			color: $color1;
			box-shadow: -1px -1px 1px 5px rgba(0, 0, 0, .03);
			.box-header{
				.d{
					display: block !important;
				}
			}

			.details{
				background: $color3;
				color: $color1;
				.percentage{
					.number{
						color: #2C2C2C;
					}
					.signal{
					}
				}
				.text{
				}
			}
		}
		.carousel.slice{
			.quote{
			}
			.author{
			}
		}
		#NavD{
			display: flex;
		}
		aside{
			background: $color3;
			color: $color2;
			.tab-header{ background: $color3; }
			#myTab{
				background: $color0;
				li{
					&.active a{
					}
					a{
						color: $color0;
					}

					.tab-o{
						color: $color2;
					}

					.tab-d{
						background: $color5;
					}
				}

				.nav-link.tab-o:hover{
					background: $color4;
					border-color: $color4;
					color: $color0;
				}
			}
			.tab-content{
				&::-webkit-scrollbar-track
				{
					background-color: $color12;
				}

				&::-webkit-scrollbar
				{
					background-color: $color12;
				}

				&::-webkit-scrollbar-thumb
				{
					background-color: $color13;
				}
			}
		}

		.map{
			background: $color0;
		}

		.navbar{
			background: $color0;
			color: $color1;
		}

		.text-caption{
			color: #000000 !important;
		}
	}
// End Destination Specifications

@import './responsive.scss';