.modal{
  background-color: $color2;
  width: 100%;
  height: 110vh;
  position: absolute;
  margin-top: 60px;
  display: block;
  z-index: 5;

  .details{
    .percentage{
      //width: 20%;
      .number{
        font-size: 45px;
      }
      .signal{
        font-size: 15px;
      }
    }
    .text{
      font-size: 13px;
    }
  }
}
.modal-dialog{
  margin: 10px;
}

.modal.fade.in .lab-modal-body {
  bottom: 0;
  opacity: 1;
  background-color: $color2;
}
.modal-header{
  padding: 0;
}
.modal-content{
  border-radius: 0;
  border:0;
  background: none;
}
.modal-footer{
  border:0;
}
.modal-body{
  border-radius: 9px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.16);
  padding: 0;
}
.origin{
  .modal{
    background-color: $color11;
  }

  .modal.fade.in .lab-modal-body {
    background-color: none;
  }

  .modal-header{
    .close{
      color: $color0;
    }
  }
  .modal-content{
    // background: $color2;
    color: $color0;
  }
  .modal-body{
    background-color: $color1;
  }
  .modal-footer{
  }
}
.destination {
  .modal {
    background-color: $color12;
    color: $color1;
  }

  .modal.fade.in .lab-modal-body {
    //background-color: none;
  }

  .modal-content {
    // background: $color0;
    color: $color2;
  }

  .modal-header {
    .close {
      color: $color1;
    }
  }
  .modal-body {
    background-color: $color0;
  }
  .modal-footer {
  }
}