
/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {

    // Pickups and info chart boxes position
    #info-chart.VN, #info-chart-1.VN {
      top: 13% !important;
      left: 100px !important;
    }
    #pickups.VN, #pickups-1.VN {
      top: 320px !important;
      left: 90px !important;
    }
    #info-chart.MM, #info-chart-1.MM {
      font-size: 9px;
      .percentage{
        .number{
          font-size: 21px;
        }
        .divider{
          font-size: 16px;
        }
      }
      top: 120px !important;
      left: 130px !important;
    }
    #pickups.MM, #pickups-1.MM {
      top: 270px !important;
      left: 80px !important;
    }
    #info-chart.TH, #info-chart-1.TH {
      top: 12% !important;
      left: 30px !important;
      .percentage{
        .number{
          font-size: 23px;
        }
        .divider{
          font-size: 18px;
        }
      }
    }
    #pickups.TH, #pickups-1.TH {
      top: 330px !important;
      left: 90px !important;
    }
    #info-chart.PH, #info-chart-1.PH {
      top: 15% !important;
      left: 60px !important;
      .percentage{
        .number{
          font-size: 27px;
        }
        .divider{
          font-size: 25px;
        }
      }
    }
    #pickups.PH, #pickups-1.PH  {
      top: 335px !important;
      left: 90px !important;
    }
    #info-chart.MY, #info-chart-1.MY {
      top: 400px !important;
      left: 90px !important;
      .percentage{
        .number{
          font-size: 23px;
        }
        .divider{
          font-size: 18px;
        }
      }
    }
    #pickups.MY, #pickups-1.MY {
      top: 60px !important;
      left: 80px !important;
    }
    #info-chart.ID, #info-chart-1.ID {
      top: 58% !important;
      left: 100px !important;
      .percentage{
        .number{
          font-size: 27px;
        }
        .divider{
          font-size: 25px;
        }
      }
    }
    #pickups.ID, #pickups-1.ID {
      top: 15% !important;
      left: 60px !important;
    }
    #info-chart.SG, #info-chart-1.SG {
      top: 400px !important;
      left: 90px !important;
    }
    #pickups.SG, #pickups-1.SG {
      top: 80px !important;
      left: 70px !important;
    }
    // End Pickups and info chart boxes position

    .tutorial {
      display: none;
    }

    #chartdiv-1, #chartdiv-2 {
      width: 100%;
      height: 110vh;
    }
    .logo {
      position: fixed;
      margin-top: 45px;
      width: fit-content;
      margin-left: 70%;
      img {
        width: 100px;
        height: 37px;
      }
    }

    .back_home {
      background: #EBEBEE;
      color: black;
      height: 40px;
      padding-top: 15px;
      padding-bottom: 40px;
      padding-right: 20px;
      width: 100%;
      text-align: right;
      z-index: 7;
      font-weight: 200;
      margin-bottom: 10px;
    }

    .link_grab {
      padding-top: 15px;
      padding-left: 20px;
      padding-bottom: 10px;
      background: white;
      a {
        color: #2C2C2C;
      }
    }

    .nav-link.tab-o:hover {
      background: none;
      border-color: transparent;
      color: transparent;
    }

    // Navbar Bottom
    .navbar {
      display: none;
      box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.2);
      letter-spacing: 0.2px;
      height: 80px;

      .nav .title {
        font-size: 10px;
        font-weight: bold;
        margin-top: 7px;
      }

      .nav .icon img {
        width: 40px;
      }

      ul {
        padding-left: 5%;
        padding-right: 5%;
      }
    }
    #info-chart, #info-chart-1 {
      font-size: 10px;
      max-height: 55px;
      .percentage {
        .number {
          font-size: 30px;
        }
        .signal {
          font-size: 18px;
        }
      }
    }

    #pickups, #pickups-1 {
      //padding: 5px 0;
      font-size: 11px;
      height: 170px;
      width: 250px;
      .headerPickUp {
        //max-width: 280px;
        //padding: 5px 30px;
      }
      .itemPickup {
        //padding: 5px 20px;
        font-size: 10px;
        img {
          width: 24px;
        }
      }
    }

    .content {
      aside {
        position: fixed;
        z-index: 1;
        border: 0;
        height: 42px;
        padding: 0;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

        #myTab {
          transition: 1s;
          border-radius: 0;
          margin: 0;
          width: 100%;
          .bg-tab {
            background: none;
            border-radius: 0;
          }
          li {
            height: 45px;
            border-radius: 0;
            a {
              border-radius: 0;
              font-size: 10px;
            }
          }
        }
        .tab-header {
          background: none;
          width: 100%;
        }
        .tab-content {
          display: none;
        }
      }
      .map {
        padding-top: 42px;
        height: calc(100vh - 60px);
      }
    }
    .origin {
      .back_home{
        color: white;
        background: #363a45;
      }
      .current {
        display: initial;

      }

      .current-click {
        display: none;
      }
      #NavO li a.active {
        .current {
          display: none;
        }
        .current-click {
          display: initial;
        }
      }

      background-color: black;

      .link_grab {
        background-color: black;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
        a {
          color: #C1C1C1;
        }
      }

      aside {
        background: $color1;
        #myTab {
          background: none;
          li:nth-child(2) {
            border-bottom: 15px solid black;
          }
          .nav-link.tab-d {
            background: black !important;
            height: 50px;
            color: #C1C1C1;
          }
          .nav-link.tab-o {
            background: black !important;
            color: $color4 !important;
            border-bottom: 5px solid $color4;
            height: 50px;
          }
        }
      }
    }

    .inb {
      width: 33px !important;
      margin: 4px 0 4px 0;
    }

    .destination {
      background-color: white;

      .current {
        display: initial;

      }

      .current-click {
        display: none;
      }
      #NavD li a.active {
        .current {
          display: none;
        }
        .current-click {
          display: initial;
        }
      }

      .link_grab {
        background-color: white;
        -webkit-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
      }

      aside {
        background: $color0;
        #myTab {
          //background: none;
          li:first-child {
            border-bottom: 5px solid white;
          }
          .nav-link.tab-o {
            height: 50px;
            color: #2C2C2C;
            border-bottom: 5px solid $color3;
          }
          .nav-link.tab-d {
            background: $color0 !important;
            color: $color6 !important;
            border-bottom: 5px solid $color6;
            height: 50px;
          }
        }
      }
    }

    .box {
      height: 280px;
    }
    .box.gtmobile {
      height: 360px;
      .carousel-inner {
        height: 160px;
      }
    }

    .box.gst {
      height: 350px;
      .carousel-inner {
        height: 240px;
      }
    }

    .carousel-indicators li{
      width: 10px;
      height: 10px;
      margin-left: 10px;
    }

    #chartdivMini-1, #chartdivMini-2 {
      position: absolute;
      overflow: hidden;
      width: 18%;
      height: 9%;
      left: 5%;
      top: 50%;
      border: 1px solid white;
      background-color: #363a45;
      font-size: 13px;
    }
    #piechart-1, #piechart-2 {
      width: 135px;
      height: 135px;
    }
}
/*Desktop Map less than 1000px */
@media only screen and (max-width: 1200px) {
	.desktop{
      .swipe-wrap{
        overflow: scroll;
      }

      .logo{
        float: none !important;
        img{
          float: none !important;
          margin-left: 650px !important;
        }
      }

      #chartdiv-1, #chartdiv-2 {
        width: 1100px;
        height: 800px !important;
      }

      .content{
        overflow: scroll;
      }

      #chartdivMini-1, #chartdivMini-2 {
        top: 510px !important;
        width: 80px;
        height: 60px;
        left: 100px;
      }
	}
}


/* some tablets and Ipads */
@media (min-width: 800px) {
	.navbar{
		display: none;
	}
}

@media only screen and (min-width: 769px) {
	.content{
		aside{
			max-width: 370px;
		}
	}
}

//Iphone X
@media only screen and (device-height: 812px) and (device-width: 375px) {
    #info-chart.MM, #info-chart-1.MM {
      font-size: 9px !important;
      top: 120px !important;
      left: 135px !important;
    }
    #pickups.MM, #pickups-1.MM {
      top: 240px !important;
      left: 110px !important;
    }
    #info-chart.TH, #info-chart-1.TH {
      font-size: 9px !important;
      top: 120px !important;
      left: 135px !important;
    }
    #pickups.TH, #pickups-1.TH {
      top: 300px !important;
      left: 110px !important;
    }
    #info-chart.PH, #info-chart-1.PH {
      top: 130px !important;
      left: 80px !important;
    }
    #pickups.PH, #pickups-1.PH {
      top: 340px !important;
      left: 110px !important;
    }
    #info-chart.MY, #info-chart-1.MY {
      top: 400px !important;
      left: 110px !important;
    }
    #pickups.MY, #pickups-1.MY {
      top: 90px !important;
      left: 80px !important;
    }
    #info-chart.ID, #info-chart-1.ID {
      top: 100px !important;
      left: 80px !important;
    }
    #pickups.ID, #pickups-1.ID {
      top: 160px !important;
      left: 80px !important;
    }
    #info-chart.SG, #info-chart-1.SG {
      top: 415px !important;
      left:100px !important;
    }
    #pickups.SG, #pickups-1.SG {
      top: 100px !important;
      left: 80px !important;
    }
}

//Iphone XR
@media only screen and (device-height: 896px) and (device-width: 414px) {
  .logo{
    margin-top: 65px !important;
  }
  #info-chart.VN, #info-chart-1.VN {
    top: 150px !important;
    left: 100px !important;
  }
  #pickups.VN, #pickups-1.VN {
      top: 350px !important;
      left: 100px !important;
  }
  #info-chart.MM, #info-chart-1.MM {
    top: 120px !important;
    left: 135px !important;
  }
  #pickups.MM, #pickups-1.MM {
    top: 270px !important;
    left: 90px !important;
  }
  #info-chart.TH, #info-chart-1.TH {
    top: 135px !important;
    left: 135px !important;
  }
  #pickups.TH, #pickups-1.TH {
    top: 350px !important;
    left: 130px !important;
  }
  #info-chart.PH, #info-chart-1.PH {
    top: 165px !important;
    left: 135px !important;
  }
  #pickups.PH, #pickups-1.PH  {
    top: 360px !important;
    left: 130px !important;
  }
  #info-chart.MY, #info-chart-1.MY {
    top: 250px !important;
    left: 135px !important;
  }
  #pickups.MY, #pickups-1.MY {
    top: 420px !important;
    left: 130px !important;
  }
  #info-chart.ID, #info-chart-1.ID {
    top: 530px !important;
    left: 130px !important;
  }
  #pickups.ID, #pickups-1.ID {
    top: 230px !important;
    left: 130px !important;
  }
  #info-chart.SG, #info-chart-1.SG {
    top: 460px !important;
    left: 130px !important;
  }
  #pickups.SG, #pickups-1.SG {
    top: 150px !important;
    left: 130px !important;
  }

}
