@font-face {
  font-family: 'Sanomat';
  font-style: normal;
  font-weight: 400;
  src:  local('Sanomat'), local('SanomatSans-Regular'),
        url("../src/Assets/SanomatS/SanomatSans-Regular.ttf") format('truetype'),
        url("../src/Assets/SanomatS/SanomatSans-Regular.woff") format('woff'),
        url("../src/Assets/SanomatS/SanomatSans-Regular.woff2") format('woff2'),
        url("../src/Assets/SanomatS/SanomatSans-Regular.otf") format('opentype');
 }
 @font-face {
  font-family: 'Sanomat';
  font-style: normal;
  font-weight: 900;
  src: local('Sanomat'), local('SanomatSans-Black'),
        url("../src/Assets/SanomatS/SanomatSans-Black.ttf") format('truetype'),
       url("../src/Assets/SanomatS/SanomatSans-Black.woff") format('woff'),
        url("../src/Assets/SanomatS/SanomatSans-Black.woff2") format('woff2'),
       url("../src/Assets/SanomatS/SanomatSans-Black.otf") format('opentype');
 }
 @font-face {
  font-family: 'Sanomat';
  font-style: normal;
  font-weight: bold;
  src:  local('Sanomat'), local('SanomatSans-Bold'),
        url("../src/Assets/SanomatS/SanomatSans-Bold.ttf") format('truetype'),
        url("../src/Assets/SanomatS/SanomatSans-Bold.woff") format('woff'),
        url("../src/Assets/SanomatS/SanomatSans-Bold.woff2") format('woff2'),
        url("../src/Assets/SanomatS/SanomatSans-Bold.otf") format('otf');
 }
 @font-face {
  font-family: 'Sanomat';
  font-style: normal;
  font-weight: 200;
  src:  local('Sanomat'), local('SanomatSans-Light'),
        url("../src/Assets/SanomatS/SanomatSans-Light.ttf") format('truetype'),
        url("../src/Assets/SanomatS/SanomatSans-Light.woff") format('woff'),
        url("../src/Assets/SanomatS/SanomatSans-Light.woff2") format('woff2'),
        url("../src/Assets/SanomatS/SanomatSans-Light.otf") format('opentype');
 }
 @font-face {
  font-family: 'Sanomat';
  font-style: normal;
  font-weight: 600;
  src:  local('Sanomat'), local('SanomatSans-Medium'),
        url("../src/Assets/SanomatS/SanomatSans-Medium.ttf") format('truetype'),
        url("../src/Assets/SanomatS/SanomatSans-Medium.woff") format('woff'),
        url("../src/Assets/SanomatS/SanomatSans-Medium.woff2") format('woff2'),
        url("../src/Assets/SanomatS/SanomatSans-Medium.otf") format('opentype');
 }
 @font-face {
  font-family: 'Sanomat';
  font-style: normal;
  font-weight: 100;
  src:  local('Sanomat'), local('SanomatSans-Thin'),
        url("../src/Assets/SanomatS/SanomatSans-Thin.ttf") format('truetype'),
        url("../src/Assets/SanomatS/SanomatSans-Thin.woff") format('woff'),
        url("../src/Assets/SanomatS/SanomatSans-Thin.woff2") format('woff2'),
        url("../src/Assets/SanomatS/SanomatSans-Thin.otf") format('opentype');
 }
 @font-face {
  font-family: 'Sanomat';
  font-style: italic;
  font-weight: bold;
  src:  local('Sanomat'), local('SanomatSans-BoldItalic'),
        url("../src/Assets/SanomatS/SanomatSans-BoldItalic.ttf") format('truetype'),
        url("../src/Assets/SanomatS/SanomatSans-BoldItalic.woff") format('woff'),
        url("../src/Assets/SanomatS/SanomatSans-BoldItalic.woff2") format('woff2'),
        url("../src/Assets/SanomatS/SanomatSans-BoldItalic.otf") format('opentype');
 }
 @font-face {
  font-family: 'Sanomat';
  font-style: italic;
  font-weight: 200;
  src:  local('Sanomat'), local('SanomatSans-LightItalic'),
        url("../src/Assets/SanomatS/SanomatSans-LightItalic.ttf") format('truetype'),
        url("../src/Assets/SanomatS/SanomatSans-LightItalic.woff") format('woff'),
        url("../src/Assets/SanomatS/SanomatSans-LightItalic.woff2") format('woff2'),
        url("../src/Assets/SanomatS/SanomatSans-LightItalic.otf") format('opentype');
 }
 @font-face {
  font-family: 'Sanomat';
  font-style: italic;
  font-weight: 400;
  src:  local('Sanomat'), local('SanomatSans-RegularItalic'),
        url("../src/Assets/SanomatS/SanomatSans-RegularItalic.ttf") format('truetype'),
        url("../src/Assets/SanomatS/SanomatSans-RegularItalic.woff") format('woff'),
        url("../src/Assets/SanomatS/SanomatSans-RegularItalic.woff2") format('woff2'),
        url("../src/Assets/SanomatS/SanomatSans-RegularItalic.otf") format('opentype');
 }